.navbar-static-top {
    color: white;
    background-color: black;
}

.navbar-header a.navbar-brand {
    color: white;
    background-color: black;
}

ul.navbar-nav a.default {
    color: white;
    background-color: black;
}

ul.navbar-nav a.active {
    color: white;
    background-color: deepskyblue;
}

ul.navbar-nav a.default:hover {
    color: white;
    background-color: deepskyblue;
}

ul.navbar-nav a.active:hover {
    color: white;
    background-color: deepskyblue;
}

.navbar-header a.navbar-brand:hover {
    color: white;
    background-color: deepskyblue;
}

.img-responsive {
    max-height: 120px;
    width: auto;
}

.badge {
    background-color: white;
    color: deepskyblue;
}
.btn {
    min-height: 36px;
    min-width: 40px;
}
.panel-primary a {
    color: white;
}
.panel-body{
    min-height: 150px;

}
.table-bordered a:hover {
    background-color: blue;
    color: white;
}