<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Device</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/mystyle.css" media="all"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Computer Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" class="active">Home</a></li>

                <li><a href="/admin" class="default">Admin</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="default" href="/register_page">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>


                <li><a class="default" href="/user">
                    <span class="glyphicon glyphicon-log-in"/><span th:text="${user}"/></a>
                </li>


                <li sec:authorize="isAuthenticated()"><a class="default" href="/logout">
                    <span class="glyphicon glyphicon-log-out"/> Log Out</a></li>

            </ul>
        </div>
    </div>
</nav>
<div align="center"><h2 th:text="${type.name}"><b>Name: </b></h2></div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-4" th:each="device : ${devices}">
            <div class="panel panel-primary">
                <div class="panel-heading" align="center">
                    <a th:href="@{/onedevice/{deviceId}(deviceId=${device.id})}">
                        <h4 th:text="${device.name}"/>
                    </a></div>
                <div class="panel-body" align="center">
                    <a th:href="@{/onedevice/{deviceId}(deviceId=${device.id})}"><img
                            th:src="@{/photo/{deviceId}/0(deviceId=${device.id})}"
                            class="img-responsive"
                            alt="Image"/></a>
                </div>
                <div class="panel-footer" align="center">
                    <h5 th:text="${device.price + 'grn'}"/><span sec:authorize="isAuthenticated()"><a th:href="@{/to-cart/{deviceId}/1(deviceId=${device.id})}"
                                                              class="btn btn-success" role="button">To
                    cart</a></span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>