<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>index</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/mystyle.css" media="all"/>
    <script>

        function showHint(str) {
            if (str.length == 0) {
                $("#txtHint").hide();
                return;
            } else {

                var xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function () {
                    if (this.status == 200) {
                        $("#txtHint").show().html(this.responseText);

                    }
                };
                xmlhttp.open("GET", "/ajax/" + str, true);
                xmlhttp.send();
            }
        }
    </script>

    <style>
        #txtHint a:hover {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Computer Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" class="active">Home</a></li>

                    <li><a href="/admin" class="default">Admin</a></li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="default" href="/register_page">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>


                <li><a class="default" href="/user">
                    <span class="glyphicon glyphicon-log-in"/><span th:text="${user}"/></a>
                </li>



                    <li><a class="default" href="/logout">
                        <span class="glyphicon glyphicon-log-out"/> Log Out</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="control-label col-sm-4"></div>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="search" onkeyup="showHint(this.value)"
                   placeholder="Type text for suggestions"/>
            <span id="txtHint"></span>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4" th:each="type : ${types}">
            <div class="panel panel-primary">
                <div class="panel-heading" align="center">
                    <a th:href="@{/type/{typeId}/asc(typeId=${type.id})}">
                        <h4 th:text="${type.name}"/>
                    </a></div>
                <div class="panel-body" align="center">
                    <a th:href="@{/type/{typeId}/asc(typeId=${type.id})}"><img
                            th:src="@{/randomphoto/{name}(name=${type.id})}"
                            class="img-responsive"
                            alt="Image"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>