<!DOCTYPE html>
<html lang="en">
<head>

    <title>order</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/mystyle.css" media="all"/>
</head>
<body>
<div class="container">
    <form action="/add-order" role="form" name="order" class="form-horizontal" method="post">
        <p/>
        <input class="form-control form-type" type="text" name="name" placeholder="Name"/>

        <br/>
        <input class="form-control form-type" type="text" name="address" placeholder="Address"/>
        <br/>
        <input class="form-control form-type" type="text" name="phone" placeholder="Phone"/>
        <br/>
        <input type="submit" class="btn btn-success" role="button" value="Make order"/>
    </form>

</div>
</body>
</html>